<form class="form-signin" action="/reset-password" method="POST">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>

  </div>

  <div class="form-label-group">
    <input type="text" name="email" class="form-control" required>
    <label for="email">Email address</label>
  </div>


    {{#if url}}
    <div class="container">
          <p>Ve a la siguiente dirección para generar una nueva contraseña, {{this.url}}</p>
    </div>
    {{/if}}

    {{#if error}}
    <div class="container">
          <p>{{this.error}}</p>
    </div>
    {{/if}}
   


  <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
  <p class="mt-5 mb-3 text-muted text-center">© {{year}}</p>
</form>
